*.tds
*.obj
*.i
*.exe
*.class
*.pyc
*.pyd
*.etc

#.git
#.git/*
MusicInstrument/STEP_8_81u8ay8ai83A83v838a81v.mm
Research/Rs_BM/images
procon_GMO/
procon_GMO/*

### 2018/01/23 15:07:35
Materials_Science/*.jpeg

### 2018/01/24 06:40:27
Materials_Science/storage_Materials_Science/*
Materials_Science/Materials_Science.mm.copy.*.mm

